.package-details {
  width: 100%;
  overflow-x: auto;
  border-radius: 5px;

  .package {
    padding: 2rem;
    background-color: #fff;
    h2 {
      font-weight: bold;
    }

    .heading {
      color: #c88837;
      text-align: center;
      margin-bottom: 1rem;
      text-transform: capitalize;
      border-bottom: 1px solid #c88837;
    }

    .name {
      margin-bottom: 1rem;
      h2 {
        color: #c88837;
        font-weight: bold;
      }
      p {
        background: #efefef;
        padding: 1rem;
        border-radius: 5px;
      }
    }
    .tour-details {
      p {
        background: #efefef;
        padding: 1rem;

        border-radius: 5px;
      }
    }

    .price {
      width: 200px;
      text-align: center;
      background-color: #d3a05f;
      margin-top: 2rem;
      border-radius: 5px;

      h1 {
        padding: 1rem;
      }
    }
    .edit {
      height: auto;
      background-color: #3cf83a;
      max-width: 200px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;

      p {
        padding: 1rem 0;
      }

      &:hover {
        background-color: #0bf708;
        cursor: pointer;
      }
    }
    .back {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 200px;
      text-align: center;
      background-color: #d3a05f;
      border-radius: 5px;
      &:hover {
        background-color: #c88837;
      }
    }
  }
}
