.layout {
  display: flex;
  margin-top: 3.5rem;
  @media screen and (max-width: 768px) {
    margin-bottom: 4rem;
  }
  .navigation {
    max-width: 12rem;
    position: fixed;

    @media screen and (max-width: 768px) {
      // max-width: 3rem;
      display: none;
    }
  }
  .content {
    width: 100%;
    padding: 1rem;
    margin-left: 12rem;
    @media screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
}
.mobile-navigation {
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (max-width: 768px) {
    background-color: #cdcdcd;
    z-index: 9;
    bottom: 0;
    position: fixed;
    padding: 0.8rem 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
