.packages {
  padding: 5px;
  width: 100%;
  overflow-x: auto;
  background-color: #fff;
  padding: 2rem;
  border-radius: 5px;

  .search {
    width: 100%;
    max-width: 300px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #d3a05f;
    thead {
      border-top: 2px solid #d3a05f;
      border-bottom: 2px solid #d3a05f;
      background: #d3a05f;
      color: #fff;
    }
    th {
      border: 1px solid #eee;
    }
    th,
    td {
      vertical-align: top;
      text-align: left;
      padding: 1rem;
    }
    .icons {
      display: flex;
      gap: 1rem;
      > * {
        margin-right: 5px;
        cursor: pointer;
        &:hover {
          padding: 1px;
        }
      }
    }
    tr {
      border-bottom: 1px solid #ccc;
      &:hover {
        cursor: pointer;
      }
    }
    tr:nth-child(even) {
      background-color: #efefef;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
