@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
  --font-heading: 'Playfair Display', serif;
  --font-sub-heading: 'Montserrat', sans-serif;
  --font-content: 'Lato', sans-serif;

  --beige: '#deb887';
  --hover-beige: '#d3a05f';
  --grey: '#efefef';
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-content);
}
h1 {
  font-size: 25px;
  font-weight: bold;
}

.--btn {
  font-weight: 400;
  padding: rem;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}

.--btn-lg {
  padding: 8px 10px;
}

.--btn-block {
  width: 100%;
}

.--btn-primary {
  /* color: #fff; */
  background: #d3a05f;
}
.--btn-primary:hover {
  background: #c88837;
}

.--btn-secondary {
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
}
