.home {
  padding: 2rem;
  background-color: #fff;
  border-radius: 5px;

  section {
    margin-top: 2rem;
    background-color: #e6e6e6;
    padding: 2rem;
    border-radius: 5px;
    p:first-child {
      margin-bottom: 1rem;
    }
  }
}
